h1 {
  border-style: solid;
  width: 960px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(255, 240, 32);
  color: rgba(47, 0, 255, 0.781);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-box-shadow: 21px 20px 17px 16px rgba(255, 41, 24, 0.74);
  box-shadow: 21px 20px 17px 16px rgba(255, 41, 24, 0.74);
  border-radius: 15px;
}
