#paragraf1 {
  font-family: "Courier New", Courier, monospace;
}

#paragraf2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#paragraf3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bq1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
q {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#q1 {
  font-family: monospace;
}
