body {
  background-image: url(https://cdn2.vectorstock.com/i/1000x1000/68/46/watermelon-pattern-summer-bright-background-vector-15296846.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
}
